APP_NAME=Start-Bootstrap
APP_URL=http://localhost/startbootstrap
APP_VIEW=http://localhost/startbootstrap/resource/views
APP_ASSETS=http://localhost/startbootstrap/resource/views/includes/assets

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_password

